// -- APP COLORS  -------------------------------------------------------

// -- Reserved Colors ---------------------------------------------------

$color-loading-spinner: #7ac6c3;
$color-border-loading-spinner: rgba(153, 253, 232, 0.315);

// Background
$color-background: #ffffff;

// Border
$color-border: rgba(0, 0, 0, 0.03);

// Font
$font-title: 'Lato', sans-serif;
$font-title-style: 'normal';
$font-title-weight: 'bold';
$font-title-size: 14px;
$font-title-height: 18px;
$font-title-color: #41484e;

$font-info: 'Open Sans', sans-serif;
$font-info-style: 'normal';
$font-info-weight: 'normal';
$font-info-size: 12px;
$font-info-height: 15px;
$font-info-color: #6b6b6b;
