@import './../../../Sass/index.scss';

.timeline-list {
  padding: 0 17px;
}

.timeline-item {
  align-items: center;
  display: flex;
  margin-bottom: 4px;
}

.timeline-item-name {
  font: $font-info-style $font-info-weight $font-info-size-md $font-info;
  line-height: $font-info-line-height;
  color: $color-font-info;
  @media (max-width: 768px) {
    font-size: $font-info-size-xs;
  }
}
