@import './../../sass/index.scss';

.toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolbar-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.arrowDown {
  margin-top: 2px;
}
