@import './../../sass/index.scss';

.loader,
.loader:after {
  border-radius: 50%;
  width: 8em;
  height: 8em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid $color-border-loading-spinner;
  border-right: 1.1em solid $color-border-loading-spinner;
  border-bottom: 1.1em solid $color-border-loading-spinner;
  border-left: 1.1em solid $color-loading-spinner;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
