@import './../../../sass/index.scss';

.gradient {
  padding: 0px;
}

.gradient-item {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: 100%;
  margin-top: 10px;
}

.gradient-bar-range {
  flex: 1 1 auto;
  display: block;
  height: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.gradient-item-name {
  font: $font-info-style $font-info-weight $font-info-size $font-info;
  line-height: $font-info-line-height;
  color: $color-font-info;
}

.gradient {
  height: 7px;
  margin-bottom: 5px;
}
