@import './../../../sass/index.scss';

.gradient {
  padding: 0px;
  height: 7px;
  margin-bottom: 5px;
}

.gradient-bar {
  margin-top: 10px;
}

.gradient-info {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: 100%;
  margin-top: 10px;
}

.gradient-info-range {
  flex: 1 1 auto;
  &:nth-child(1) {
    text-align: left;
  }

  &:last-child {
    text-align: right;
  }
}

.gradient-info-name {
  font: $font-info-style $font-info-weight $font-info-size-md $font-info;
  line-height: $font-info-line-height;
  color: $color-font-info;
  @media (max-width: 768px) {
    font-size: $font-info-size-xs;
  }
}
