// Animation for rotate icon whem colapse

.rotate {
  -webkit-transform: rotate;
  -moz-transform: rotate;
  -o-transform: rotate;
  -ms-transform: rotate;
  transform: rotate;

  -webkit-transition: transform 0.4s ease;
  -o-transition: transform 0.4s ease;
  transition: transform 0.4s ease;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
