// -- APP COLORS  -------------------------------------------------------

// -- Reserved Colors ---------------------------------------------------

$color-loading-spinner: #7ac6c3;
$color-border-loading-spinner: rgba(153, 253, 232, 0.315);

// Background
$color-background: #ffffff;
$color-overlay: #3a3a3a;

// Border
$color-border: rgba(0, 0, 0, 0.03);

// Legend Title
$color-font-title: #41484e;
// Legend Info
$color-font-info: #6b6b6b;
// Tooltip Font
$color-font-tooltip: #888888;

// Timeline Slider
$color-timeline-slider: #cab2d6;

$color-icons: #393f44;
