@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

// Title Font
$font-title: 'Lato', sans-serif;
$font-title-style: normal;
$font-title-weight: bold;
$font-title-size-md: 14px;
$font-title-size-xs: 12px;
$font-title-line-height: 18px;

// Info Font
$font-info: 'Open Sans', sans-serif;
$font-info-style: normal;
$font-info-weight: normal;
$font-info-size-md: 12px;
$font-info-size-xs: 10px;
$font-info-line-height: 15px;

// Tooltip Font
$font-tooltip: 'Lato', sans-serif;
$font-tooltip-style: normal;
$font-tooltip-weight: normal;
$font-tooltip-size-md: 14px;
$font-tooltip-size-xs: 12px;
$font-tooltip-line-height: 20px;
