@import './../sass/index.scss';

.app {
  background: darken($background-color, 5%);
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}
