@import './../../sass/index.scss';

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  background-color: #fff;
  border-radius: 5;
  width: 450px;
  display: flex;
  flex-direction: column;
  padding: 30px 10px 30px 30px;
  overflow-y: initial !important;
}

.modal-header {
  position: absolute;
  top: 8px;
  right: 10px;
}

.modal-content {
  overflow-y: auto;
  padding-right: 20px;
  font: $font-info-style $font-info-weight $font-info-size-md $font-info;
  line-height: $font-info-line-height;
  color: $color-font-info;
  @media (max-width: 768px) {
    font-size: $font-info-size-xs;
  }
}
.modal-content p {
  padding-top: 10px;
}

.modal-content li {
  padding-top: 10px;
  overflow: hidden;
  list-style-position: inside;
}

.modal-close-btn {
  border-radius: 50%;
  background-color: $color-icons;
  color: #fff;
}
