@import './../../sass/index.scss';

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $color-overlay;
  padding: 50px;
}

.modal {
  position: relative;
  background-color: #fff;
  border-radius: 5;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding: 30px;
  overflow-y: initial !important;
}

.modal-header {
  position: absolute;
  top: 10px;
  right: 15px;
}

.modal-content {
  height: 300px;
  overflow-y: auto;
  font: $font-info-style $font-info-weight $font-info-size-md $font-info;
  line-height: $font-info-line-height;
  color: $color-font-info;
  @media (max-width: 768px) {
    font-size: $font-info-size-xs;
  }
}
.modal-content p {
  padding-top: 10px;
}

.modal-content li {
  padding-top: 10px;
  overflow: hidden;
  list-style-position: inside;
}

.modal-close-btn {
  font-size: 16px;
}
