@import './../../../Sass/index.scss';

.cloropleth {
  padding: 0px;
}

.cloropleth-item {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: 100%;
  margin-top: 10px;
}

.cloropleth-bar-range {
  flex: 1 0 auto;
  text-align: center;
}

.cloropleth-item-name {
  font: $font-info-style $font-info-weight $font-info-size-md $font-info;
  line-height: $font-info-line-height;
  color: $color-font-info;
  @media (max-width: 768px) {
    font-size: $font-info-size-xs;
  }
}

.cloropleth {
  height: 7px;
  margin-bottom: 5px;
}
