@import './../../../sass/index.scss';

.cloropleth {
  padding: 0px;
}

.cloropleth-item {
  display: flex;
  margin-bottom: 4px;
}

.cloropleth-bar-range {
  flex: 1 0 auto;
  text-align: center;
}

.cloropleth {
  height: 7px;
  margin-bottom: 5px;
}

.cloropleth-item-name {
  font: $font-info-style $font-info-weight $font-info-size $font-info;
  line-height: $font-info-line-height;
  color: $color-font-info;
}
