@import './../../sass/index.scss';

.legend-header {
  display: flex;
}

.legend-title {
  align-items: center;
  display: flex;
  color: $color-font-title;
  font: $font-title-style $font-title-weight $font-title-size $font-title;
  line-height: $font-title-line-height;
  flex-grow: 1;
}

.legend-item {
  padding: 15px;
  border-bottom: 1px solid $color-border;

  &.last {
    border-bottom: 0;
  }
}
