@import './../../sass/index.scss';

.legend-header {
  align-items: center;
  display: flex;
  height: 13px;
}

.legend-title {
  align-items: center;
  display: flex;
  color: $color-font-title;
  font: $font-title-style $font-title-weight $font-title-size-md $font-title;
  line-height: $font-title-line-height;
  flex-grow: 1;
  @media (max-width: 768px) {
    font-size: $font-title-size-xs;
  }
}

.legend-item {
  padding: 15px;
  border-bottom: 1px solid $color-border;

  &.last {
    border-bottom: 0;
  }
}

.legend-content {
  display: none;
  padding-top: 15px;

  &.open {
    display: block;
  }
}
