@import './../sass/index.scss';

.app {
  display: flex;
  background: $color-overlay;
  justify-content: center;
  min-height: 100vh;
}

.legend-wrapper {
  align-self: flex-start;
  margin-top: 84px;
  width: 520px;
  background: $color-background;
  border: 1px solid $color-border;
}
